body{
    background-image: url("../Images/flowers.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

}

body::before {
  content: "";
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(240, 141, 116, 0.4); /* white overlay */
  z-index: -1;
  pointer-events: none;
}
.book {
  position: relative;
  width: 350px;
  height: 400px;
  perspective: 1500px;
  margin: 40px auto;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: left;
  transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1);
  backface-visibility: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../Images/note.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-size: 100% 100%;
}


.page.flipped {
  transform: rotateY(-180deg) scale(0.98);
  z-index: 0 !important;
}

.controls {
  text-align: center;
  margin-top: 4rem;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  background: #ff56dacb;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease
}


#add-memory{
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

#return-btn{
  position: absolute;
  bottom: 1rem;
}

#add-memory-page{
    position: absolute;
    left: 15%;
    top: 2rem;
    width: 70%;
    height: 450px;
    border-radius: 25px;
    background-color: rgb(146, 103, 103);
    z-index: 9999;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

}

label{
    font-size: 1.5rem;
    font-weight: 600;
}

textarea{
    width: 350px;
    height: 200px;
    resize: none;
    overflow: auto;
}

textarea, input{
    font-size: 1.2rem;
}

.memory-title{
    position: absolute;
    top: 4rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.memory-desc{
    position: absolute;
    top: 7rem;
    font-size: 1.1rem;
}

.edit{
  position: absolute;
  bottom: 1.2rem;
  left: 1rem;
}

.delete{
  position: absolute;
  bottom: 1.2rem;
  right: 1rem;
}

#empty-alert{
  position: absolute;
  height: 100%;
  width: 100%;
  display: grid;
  place-content: center;
  font-size: 1.3rem;
}